<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="ConexionLocal"
      connectionString="server=192.168.1.80;user id=SIESM;password=siesm_2015;database=siesm"/>
    <add name="ConexionVPN"
      connectionString="server=10.8.0.1;user id=SIESM;password=siesm_2015;database=siesm"/>
  </connectionStrings>
</configuration>